*{
    box-sizing: border-box;
}
body{
    background: #333;
}
.classic-slider{
    font-size: 0;
    width: 58%;
}
.c-slider-left,
.c-slider-right{
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    height: 500px;
}
.c-slider-left > ul{
    list-style: none;
    margin: 0;
}
.c-slider-left{
    width: 160px;   
    overflow-y: auto;
}
.c-slider-right{
    width: calc(100% - 160px);   
}
.c-slider-right{
    padding-left: 10px;
}
.c-slider-inner{
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid #EFEFEF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.c-small-img,
.c-big-img{
    max-height: 100%;
    max-width: 100%;
    -webkit-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
}
.c-small-img{
    cursor: pointer;
}
.c-small-img:hover,
li.active .c-small-img{
    filter:brightness(50%);
}
.c-big-img {
    margin: auto;
}
.c-controlls > div{
    position: absolute;
    top: 45%;
}
.c-controlls .c-left{
    left: 0;
}
.c-controlls .c-right{
    right: 0;
}